body{
    background-color:  #281258;
    color: white;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}
.nav{
    display: flex;
    gap: 15px;
}
.nav-btn{
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}
.nav-btn button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
}
